<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/indexstyless.css}">
    <title>Movimiento de dinero</title>
</head>

<body>
    <header class="contheader" id="contenca">
        <div class="logoempresa">         
        </div>
        <div class="titulologo">
            <h1 class="titulo">Movimientos de dinero</h1>
            <div class="logo">               
            </div>
        </div>        
    </header>    
</body>
 <main>
    <fieldset class="fieldset">
        <legend>Transacciones</legend>

        <form th:action="@{/Movimientos/actualizar}" th:object="${actualizarmovimiento}" method="POST" class="frm">

            <label for="transaccion">No. transaccion
                <input type="text" id="transaccion"th:field="*{id_transaccion}">
            </label>

            <label for="Monto">Monto
                <input type="text" id="Monto"th:field="*{monto}">
            </label>

            <label for="Concepto">Concepto
                <input type="text" id="Concepto" th:field="*{concepto}">
            </label>

            <label for="fecha">Fecha
                <input type="date" id="fecha" th:field="*{fecha}">
            </label>

            <input class= "boton" type="submit" value="Actualizar">

        </form>
    </fieldset>
 </main>
</html>
