<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/indexstyless.css">
    <title>Movimiento de dinero</title>
</head>

<body>
    <header class="contheader" id="contenca">
        <div class="logoempresa">         
        </div>
        <div class="titulologo">
            <h1 class="titulo">Movimientos de dinero</h1>
            <div class="logo">               
            </div>
        </div>        
    </header>    
</body>
 <main>
    <fieldset class="fieldset">
        <legend>Transacciones</legend>

        <form action="" method="" class="frm">
            
            <label for="Monto">Monto
                <input type="number" id="Monto">
            </label>

            <label for="Concepto">Concepto
                <input type="text" id="Concepto">
            </label>

            <label for="fecha">Fecha
                <input type="date" id="fecha">
            </label>

            <button>Registrar</button>
        </form>
    </fieldset>
 </main>
</html>
