<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=}, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{css/reset.css}">
        <link rel="stylesheet" th:href="@{css/StylesRC.css}">
        <title>Registro de Usuario</title>
    </head>
    <body>
        <header>
            <div class="titulologo">
                <div class="logo"></div>
            </div>
        </header>
            <fieldset class="fi">
                <legend class="titulo">Registrar Usuario</legend>
                <form th:action="@{/empleado/guardar}" th:object="${empleadoinsertar}" method="POST" class="frm">

                    <label for="Documento">Documento
                        <input type="text" id="Documento" required placeholder="N° Documento" th:field="*{documento}">
                    </label>
                    <label for="Nombre">Nombre
                        <input type="text" id="Nombre" placeholder="Nombre & Apellido" th:field="*{nombre}">
                    </label>
                    <label for="Correo">Correo
                        <input type="email" id="Correo" placeholder="example@gmail.com" th:field="*{correo}">
                    </label>
                    <label for="Empresa">Empresa
                        <input type="text" id="Empresa" placeholder="Postobón S.A.S" th:field="*{empresa}">
                    </label>
                    <label for="Rol">Rol
                        <input type="text" id="Rol" placeholder="Administrador" th:field="*{rol}">
                    </label>
                    
                    <input class="volver" type="submit" value="Inicio">
                    <input class="registrar" type="submit" value="Registrar">
                </form>
            </fieldset>
    </body>
</html>