<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/tablaregistromovimientos.css">
    
    <title>Registro de Movimientos</title>
</head>
<body>
    <header class="contheader" id="contenca">
        <div class="logoempresa">         
        </div>
        <div class="titulologo">
            <h1 class="titulo">Registro de movimientos de dinero</h1>
            <div class="logo">             
            </div>
        </div>
    </header>    
</body>
<main>
    <div class="contenedortabla">
        <table>
            <thead>
                <tr>
                    <th>Monto de dinero</th>
                    <th>Concepto</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2500000</td>
                    <td>compras</td>
                    <td>oscar</td>
                </tr>
                <tr>
                    <td>2500000</td>
                    <td>compras</td>
                    <td>oscar</td>
                </tr>
               
            </tbody>
        </table>
    </div>
    
</main>   
</html>