<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/tablaregistromovimientos.css}">
    
    <title>Tabla de Movimientos</title>
</head>
<body>
    <header class="contheader" id="contenca">
        <div class="logoempresa">         
        </div>
        <div class="titulologo">
            <h1 class="titulo">Registro de movimientos de dinero</h1>
            <div class="logo">             
            </div>
        </div>
    </header>    
</body>
<main>
    <div class="contenedortabla">
        <table>
            <thead>
                <tr>
                    <th>id_transaccion</th>
                    <th>Monto de dinero</th>
                    <th>Concepto</th>
                    <th>Fecha</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="i:${MovimientoDeDinero}">

                    <td th:text="${i.id_transaccion}"></td>
                    <td th:text="${i.monto}"></td>
                    <td th:text="${i.concepto}"></td>
                    <td th:text="${i.fecha}"></td>
                    <td th:text="${i.usuario}"></td>
                    <td><a th:href="@{'Movimientos/actualizar'+'/'+${i.id_transaccion}}">Consultar</a></td>
                    <td><a th:href="@{'Movimientos/eliminar'+'/'+${i.id_transaccion}}">Eliminar</a></td>

                </tr>

               
            </tbody>
        </table>

        <div class="botonregistro">
            <a th:href="@{Movimientos/nuevo}"><button class="nuevo">Nuevo registro</button></a>
        </div>

        <div class="botonregistro">
            <a th:href="@{/}"><button class="nuevo2">Volver a inicio</button></a>
        </div>

    </div>
    
</main>   
</html>